:root {
    --primary-color                             : rgb(255, 204,0);
    --secondary-color                           : rgb(17, 84,139);

    --dt-status-Activa-color                    : greenyellow;
    --dt-status-Finalizada-color                : lightgrey;

    --dt-border-radius                          : 3px;
    --dt-border                                 : solid 2px rgb(17, 84,139); 

    --dt-padding                                : 12px;
    --dt-padding-s                              : 6px;
    --dt-padding-xs                             : 2px;

    --dt-border-color: var(--primary-color);
}

.marco {
    border                                      : solid 1px grey; 
    border-radius                               : 10px;
}

h2 {
    color                                       : rgb(17, 84,139); 
    padding-left                                : var(--dt-padding);
}

.container-table1 table tbody tr:nth-child(even) {
    background-color: lightgray;
}

.container-table1 table tbody tr:hover {
    background-color: var(--primary-color);
}

.material-icons{
    font-size: 20px;
}

.datatable-container .header-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .header-tools .search{
    width: 30%;
}

.datatable-container .header-tools .search-input{
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: var(--dt-border);
}

.datatable-container .header-tools .tools{
    width: 70%;
}

.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .footer-tools .list-items{
    width: 50%;
}

.datatable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);    
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.datatable-container .footer-tools .pages ul li span.active{
    background-color: var(--primary-color);
    border-radius: var(--dt-border-radius)
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable tbody tr:nth-child(even) {
    background-color: lightgray;
}

.datatable-container .datatable tbody tr:hover {
    background-color: var(--primary-color);
}

.datatable-container .datatable tbody tr .Activa::after,
.datatable-container .datatable tbody tr .Finalizada::after {
    display: inline-block;
    vertical-align: middle;    
}

.datatable-container .datatable tbody tr .Activa::after {
    content: 'Activa';
    color: green;
}

.datatable-container .datatable tbody tr .Finalizada::after {
    content: 'Finalizada';
    color: grey;
}

.datatable-container .datatable tbody tr .Activa::before,
.datatable-container .datatable tbody tr .Finalizada::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .Activa::before {
    background-color: green;
}

.datatable-container .datatable tbody tr .Finalizada::before {
    background-color: gray;
} 

.datatable-container .datatable tbody tr .Entregada::after {
    content: 'Entregada';
    color: grey;
}

.datatable-container .datatable tbody tr .NoEntregada::after {
    content: 'No Entregada';
    color: red;
}

.datatable-container .datatable tbody tr .EnDesarrollo::after {
    content: 'En Desarrollo';
    color: orange;
}

.datatable-container .datatable tbody tr .Entregada::before,
.datatable-container .datatable tbody tr .NoEntregada::before,
.datatable-container .datatable tbody tr .EnDesarrollo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .Entregada::before {
    background-color: grey;
}

.datatable-container .datatable tbody tr .NoEntregada::before {
    background-color: red;
} 

.datatable-container .datatable tbody tr .EnDesarrollo::before {
    background-color: orange;
} 