{% extends "plantilla.html" %} {% block title %} Materias {% endblock %} {% block cuerpo %}



<!-- The flexible grid -->
<div class="Containermain">
    <div class="divisiones"></div>
    <div class="divisiones">

        <fieldset>
            <legend style="font-weight:bold; color:#030303;">Creación de la materia</legend>
            <form action="/registroMat/" method="POST" name="registroMat">

                {% for msg in get_flashed_messages() %}
                <div class="fila">{{ msg }}</div>
                {% endfor %}
                <p>Id de la materia: </p>
                <p> <input type="number" name="iddemateria" required autofocus size="40" placeholder="ID de materia"></p>
                <p>Nombre de la materia: </p>
                <p> <input type="text" name="nombremat" required size="40" placeholder="Nombre de la materia"></p>

                <p>Semestre de la Materia:</p>
                <p> <input type="number" name="semestre" required autofocus size="40" placeholder="Semestre de la materia"></p>
           
                </p>
                <div class="row">
                    <input type="submit" value="Enviar">                    
                    <input type="reset" value="Borrar Todo">
                </div>

            </form>
        </fieldset>



    </div>
    <div class="divisiones"></div>
</div>


{% endblock %}