<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/FPrimerIngreso.css')}}">

</head>

<body>
    <div class="videos">
        <video src="{{url_for('static', filename='img/pexels-yan-krukov-8197045.mp4')}}" autoplay="true" loop></video>
    </div>

    <div class="registro_box">
        <img class="avatar" src="{{url_for('static', filename='img/logo2.png')}}" alt="logo unisalle">
        <h1>Regístrate</h1>

        <fieldset>
            <legend style="font-weight:bold; color:#d4d4d4;">Datos Requeridos</legend>
            <form action="/registro/" method="POST" name="registro" onsubmit="return Registro()">

                <input class=row type="text" name="nombre" id="nombre" required autofocus size="40" placeholder="Nombres"><br>
                <input class=row type="text" name="apellido" id="apellido" required size="40" placeholder="Apellidos"><br>
                <input class=row type="password" name="contrasena" id="contraseña" required size="40" placeholder="Contraseña" minlength="8"><br>
                <input class=row type="password" name="rcontrasena" id="contraseña2" required size="40" placeholder="Repetir contraseña" minlength="8"><br>
                <label>Documento de identidad:</label><br>
                <div style="margin-bottom: 10px;">
                    <select name="menu" style="height: 29px;">
                        <option value="0">Seleccione</option>
                        <option value="1">Tarjeta de identidad</option>
                        <option value="2">Cedula</option>
                        <option value="3">Cedula extranjera</option>
                    </select>
                    <input type="text" name="Documento" required size="40" placeholder="Numero de identificación" style="width: 45%; height: 22px;">
                </div>
                <label>Perfil:</label><br>
                <div style="margin-bottom: 10px;">
                    <select name="selectrol" style="height: 29px; width: 38%;">
                        <option value="0">Seleccione</option>
                        <option value="1">Docente</option>
                        <option value="2">Estudiante</option>
                        <!--<option value="3">Super-admin</option>-->                     
                    </select>
                </div>
                <label>Sexo:</label><br>
                <div class="row" style="display: inline-block;">
                    <input type="radio" id="mujer" name="genero" value="F">   <label for="html">Femenino</label>
                    <input type="radio" id="hombre" name="genero" value="M">   <label for="html">Masculino</label>
                </div>
                <label style="margin-bottom: 10px;">Fecha de nacimiento: </label><br>
                <input class="row2" type="date" name="fecha de nacimiento"><br> {% for msg in get_flashed_messages() %}
                <div class="row">{{ msg }}</div>
                {% endfor %}
                <div class="row">
                    <a href="/index/"><input type="submit" value="Enviar"></a>
                    <input type="reset" value="Borrar Todo">
                    <a href="/index/"><input type="button" value="Cancelar"></a>
                </div>

            </form>
        </fieldset>

    </div>

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>