{% extends "plantilla.html" %} {% block title %} Admin Grupos {% endblock %} {% block cuerpo %}



<!-- The flexible grid -->
<div class="Containermain">
    <div class="divisiones"></div>
    <div class="divisiones">

        <fieldset>
            <legend style="font-weight:bold; color:#000000;">Creación de grupo</legend>
            <form action="/registroGrup/" method="POST" name="registroGrup">

                {% for msg in get_flashed_messages() %}
                <div class="fila">{{ msg }}</div>
                {% endfor %}
                <p>Id del grupo: </p>
                <p> <input type="number" name="iddegrupo" required autofocus size="40" placeholder="ID del grupo"></p>
                <p>Nombre del grupo: </p>
                <p> <input type="text" name="nombre" required size="40" placeholder="Nombre del grupo"></p>                
                <p>Jornada del grupo:</p>
                <select name="Jornada">
                        <option value="0">Seleccione</option>
                        <option value="D">Diurna</option>
                        <option value="N">Nocturna</option>
                    </select>
                </p>
                <div class="row">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar Todo">
                </div>

            </form>
        </fieldset>



    </div>
    <div class="divisiones"></div>
</div>


{% endblock %}