<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index-login.css')}}">

</head>

<body>
    <div class="videos">
        <video src="{{url_for('static', filename='img/pexels-yan-krukov-8197045.mp4')}}" autoplay="true" loop></video>
    </div>

    <div class="login_box">
        <img class="avatar" src="{{url_for('static', filename='img/logo2.png')}}" alt="logo unisalle">
        <h1>Ingrese Aqui</h1>
        <form action="/index/" method="post" name="login">
            <label for=username>Usuario</label>
            <input type="text" placeholder="Username" name="name" id="name" minlength="1" required autofocus>

            <label for=Password>Contraseña</label>
            <input type="password" placeholder="Password" name="Pw" id="Pw" minlength="8" required autofocus>

            <label>Perfil:</label>
            <div style="margin-bottom: 15px;">
                <select name="selectrol" style="height: 29px; width: 70%;" required>
                    <option value="">Seleccione</option>
                    <option value="1">Docente</option>
                    <option value="2">Estudiante</option> 
                    <option value="3">Super-admin</option>                     
                </select>
            </div>

            <input type="submit" value="Ingresar">

            <a href="/recuperar contrasena">Olvide mi contraseña</a><br>
            <a href="/registro/">No tengo cuenta</a> 
            {% for msg in get_flashed_messages() %}
            <div class="fila">{{ msg }}</div>
            {% endfor %}

        </form>

    </div>

</body>


</html>