{% extends "plantilla.html" %}

{% block title %}

Perfil

{% endblock %}

{% block cuerpo %}
<div class="Containermain" style="width: 100%;">
    <div class="aside">
                        
        <div class="event-container">
            <h4 class="mes">Octubre</h4>
            <div class="event">
                <div class="event-left"><p>Dia</p></div>
                <div class="event-right">
                    <h5 style="text-transform: uppercase;">Evento</h5>
                    <div>Descripción</div>
                </div>
            </div>
        </div>
        
        <a href="https://www.mooc.org/es/" target="_blank"><button><b>Massive Open Online Courses</b></button></a>
        <a href="https://www.wdl.org/es/" target="_blank"><button><b>Biblioteca Digital</b></button></a>
        <a href="/logout/"><button><b>Cerrar sesión</b></button></a>
                                    
        <div class="social-container">
            <a href="https://co.linkedin.com/school/universidad-de-la-salle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://twitter.com/unisalle?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" style="margin-right: 5px;"> <i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/U.deLaSalle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
    </div>

    <div class="right" style="background-color: rgb(17, 84,139)">
        <fieldset style="padding-top: 8%; padding-bottom: 8%; display: flex; align-items: center; justify-content: center;">
            <legend style="font-weight:bold; color:#d4d4d4;">Informacion Personal</legend>
            <form style="width: 50%;" action="/perfil/" method="POST" name="perfil">

                <label class="LIPer">Nombre: </label><br/>
                <input class="controls" type="text" name="nombre" required size="40" value="{{nombre}}"><br/>
                <label class="LIPer">Documento de identidad:</label><br/>                
                    <select name="menu" style="height: 29px;">
                        <option value="0">Seleccione</option>
                        <option value="1">Tarjeta de identidad</option>
                        <option value="2">Cedula</option>
                        <option value="3">Cedula Extranjera</option>
                    </select>
                    <input class="controls" type="text" name="Documento" required size="40" value="{{dni}}"><br/>
                <label class="LIPer">Fecha de Nacimiento:</label><br/>
                <input class="controls" type="date" name="fechadenacimiento" value="{{nacido}}"><br/>
                <label class="LIPer">Contraseña</label><br/>
                <input class="controls" type="password" name="contrasena" required size="40" value="{{contraseña}}" minlength="8">
                <p>
                    <input style="background-color: rgb(255, 204,0);" type="submit" value="Editar Datos">                   
                </p>
            </form>
            <div class="imagenUsuario"><img src="{{url_for('static', filename='img/logouser.png')}}" alt="imagenUsuario"></div>
        </fieldset>
        
    </div>
</div>

{% endblock %}




   

            

            

            



