{% extends "plantilla.html" %} 
{% block title %} Materias {% endblock %} 


{% block cuerpo %}
<div class="Containermain" style="width: 100%; background-color: white;">
    <div class="aside">
                        
        <div class="event-container">
            <h4 class="mes">Octubre</h4>
            <div class="event">
                <div class="event-left"><p>Dia</p></div>
                <div class="event-right">
                    <h5 style="text-transform: uppercase;">Evento</h5>
                    <div>Descripción</div>
                </div>
            </div>
        </div>
        
        <a href="https://www.mooc.org/es/" target="_blank"><button><b>Massive Open Online Courses</b></button></a>
        <a href="https://www.wdl.org/es/" target="_blank"><button><b>Biblioteca Digital</b></button></a>
        <a href="/logout/"><button><b>Cerrar sesión</b></button></a>
                                    
        <div class="social-container">
            <a href="https://co.linkedin.com/school/universidad-de-la-salle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://twitter.com/unisalle?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" style="margin-right: 5px;"> <i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/U.deLaSalle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
    </div>
    
    <div class="right">                                
        <div class="marco" style="margin-top: 10px; width: 60%;">
            <h2>Inscribir Materias</h2> 
            <div class="datatable-container">
                
                <div style="padding-left: 12px; padding-right: 12px;">
                    <form action="/inscMat/" method="POST" name="inscMat">
                        <table class="datatable">
                            <thead>
                                <tr>
                                    <th>INSCRIBIR</th>
                                    <th>COD. MATERIA</th>
                                    <th>NOMBRE</th>
                                    <th>SEMESTRE</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                {%for materia in materias%}
                                    <tr>
                                        <td><input type="checkbox" name="materia" value="{{ materia.0 }}"></td> 
                                        <td>{{ materia.0 }}</td>  
                                        <td>{{ materia.1 }}</td>
                                        <td>{{ materia.2 }}</td>                                                                                                       
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table><br/>
                        <input type="submit" value="Guardar" style="background-color: rgb(44, 84, 117); color: rgb(255, 204,0); width: 150px; height: 25px; ">
                        <p></p>
                    </form>
                </div>                     
            </div>        
        </div>

        {% for msg in get_flashed_messages() %}
        <div class="fila">{{ msg }}</div>
        {% endfor %}
        
        <div class="marco" style="margin-top: 10px; width: 60%;">
            <h2>Materias Matriculadas</h2> 
            <div class="datatable-container">
                
                <div style="padding-left: 12px; padding-right: 12px;">
                    <table class="datatable">
                        <thead>
                            <tr>
                                <th>COD DE INS</th>
                                <th>COD. MATERIA</th>
                                <th>NOMBRE</th>
                                <th>SEMESTRE</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {%for inscrip in insmat%}
                                <tr>
                                    <td>{{ inscrip.0 }}</td> 
                                    <td>{{ inscrip.1 }}</td>  
                                    <td>{{ inscrip.2 }}</td>
                                    <td>{{ inscrip.3 }}</td>                                                                                                       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
                </div> 
                
                <div class="footer-tools">
                    <div class="list-items">
                        Mostrar
                        <select name="n-entries" id="n-entries" class="n-entries">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select> 
                        registros 
                    </div>
                    <div class="pages">
                        <ul>
                            <li><span class="active">1</span></li>
                            <li><button>2</button></li>
                            <li><button>3</button></li>
                            <li><button>4</button></li>
                            <li><span>...</span></li>
                            <li><button>9</button></li>
                            
                        </ul>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>

{% endblock %}