<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>¿OLVIDO SU CONTRASEÑA?</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index-login.css')}}">
    </head>

    <body style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        <div class="videos">
            <video src="{{url_for('static', filename='img/pexels-yan-krukov-8197045.mp4')}}" autoplay="true" loop></video>
        </div>

        <div class="login_box" style="height: 450px; background:rgba(7, 7, 7, 0.808); padding: 80px 15px;">
            <img class="avatar" src="{{url_for('static', filename='img/logo2.png')}}" alt="logo unisalle">

            <h1 style="padding:0 0 15px 0; font-size:20px;">¿Olvidaste tu contraseña?</h1>

            <a href="#">Ingresa tu correo de recuperación para poder reestablecerla</a>

            <form action="" method="POST" name="olvidopw">

                <label for=e-mail style="padding: 0 0 -10px 0;">Correo de recuperación</label><br>
                
                <input type="email" placeholder="Correo" name="name" id="name">

                <a href="/login"><input type="submit" value="Enviar"></a>        
        
                <a href="/login"><h1>Cancelar</h1></a>
            </form>
        </div>

    </body>

</html>