{% extends "plantilla.html" %}

{% block title %}

PaginaInicio

{% endblock %}

{% block cuerpo %}

<div class="Containermain" style="width: 100%; background-color: white;">
    <div class="aside">
                        
        <div class="event-container">
            <h4 class="mes">Octubre</h4>
            <div class="event">
                <div class="event-left"><p>Dia</p></div>
                <div class="event-right">
                    <h5 style="text-transform: uppercase;">Evento</h5>
                    <div>Descripción</div>
                </div>
            </div>
        </div>
        
        <a href="https://www.mooc.org/es/" target="_blank"><button><b>Massive Open Online Courses</b></button></a>
        <a href="https://www.wdl.org/es/" target="_blank"><button><b>Biblioteca Digital</b></button></a>
        <a href="/logout/"><button><b>Cerrar sesión</b></button></a>
        
                                
        <div class="social-container">
            <a href="https://co.linkedin.com/school/universidad-de-la-salle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://twitter.com/unisalle?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" style="margin-right: 5px;"> <i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/U.deLaSalle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
    </div>
    
    <div class="right">

        <div class="divisiones">
            <h4 class="prueba">El Grupo 8 de la clase 53 le da la Bienvenidad al reto de Plataforma de Gestión de Notas.</h4>
            <img src="{{ url_for('static', filename='img/Usalle.jpeg') }}" alt="SedePpal" style="max-width: 100%; height:auto; padding: 5px;
                        margin-top: 7px;" />
        </div>               
    </div>    
</div>     

{% endblock %}

