{% extends "plantilla.html" %}

{% block title %}

PaginaInicio

{% endblock %}

{% block cuerpo %}

<div class="Containermain" style="width: 100%; background-color: white;">
    <div class="aside">
                        
        <div class="event-container">
            <h4 class="mes">Octubre</h4>
            <div class="event">
                <div class="event-left"><p>Dia</p></div>
                <div class="event-right">
                    <h5 style="text-transform: uppercase;">Evento</h5>
                    <div>Descripción</div>
                </div>
            </div>
        </div>

        <button><b>Massive Open Online Courses</b></button>
        <button><b>Biblioteca</b></button>
        <button><b>Cerrar sesión</b></button>
                                
        <div class="social-container">
            <a href="your link here" style="margin-right: 5px;"> <i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="your link here" style="margin-right: 5px;"> <i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="your link here" style="margin-right: 5px;"> <i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
    </div>
    
    <div class="right">

        <div class="divisiones"></div>
                <div class="divisiones">
    
                    <img src="{{ url_for('static', filename='img/Usalle.jpeg') }}" alt="SedePpal" style="max-width: 100%; height:auto; padding: 15px;
                        margin-top: 7px;" />                    
                </div>
        <div class="divisiones"></div>        
    </div>    
</div>     

{% endblock %}

