<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla.css')}}"
</head>
<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='img/LA_SALLE_AN.gif')}} alt="logo universidad" class="img-responsive" >
        </div>
    </header>
    <div class="etic-navegacion">
        <nav class="navegacion">
            <ul class="nav">
                <li><a href="#">Mis curso</a>
                    <ul>
                        <li><a href="#">Mis curso 1</a></li>
                        <li><a href="#">Mis curso 2</a></li>
                        <li><a href="#">Mis curso 3</a></li>
                        <li><a href="#">Otros </a></li>
                    </ul>
                </li>

                <li><a href="#">Plantilla de notas</a>
                    <ul>
                        <li><a href="#">Nota 1</a></li>
                        <li><a href="#">Nota 2</a></li>
                        <li><a href="#">Nota 3</a></li>
                        <li><a href="#">Otros </a></li>
                    </ul>
                </li>
                <li><a href="#">Actividades</a>
                    <ul>
                        <li><a href="#">Actividad 1</a></li>
                        <li><a href="#">Actividad 2</a></li>
                        <li><a href="#">Actividad 3</a></li>
                        <li><a href="#">Otros </a></li>
                    </ul>
                
                </li>
                <li><a href="#">Otros </a>
                    <ul>
                        <li><a href="#">Pendiente 1</a></li>
                        <li><a href="#">Pendiente 2</a></li>
                        <li><a href="#">Pendiente 3</a></li>
                        <li><a href="#">Otros </a></li>
                    </ul>
                </li>
            </ul>   
        </nav>
    </div>
    <br>
    <div class="container">
        <form class="formamo pagina" action="#" method="post" name="plantilla">

        </form>
    </div>
    <footer>
        <div class="pie">    
            <p>lorem ipsum dolor</p>
        </div>
    </footer>
</body>
</html>