<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css')}}">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/estiloadmin.css'
        )}}">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/estiloinfdeest.css' )}}">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/estiloactyretro.css'
        )}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- Header -->
    <div class="containerheader">
        <div class="boxheader">
            <a href="/paginicio/"><img src="{{url_for('static', filename='img/LA_SALLE_AN.gif')}}" alt="ULogo" style="width:90%; height:auto;" />
            </a>
        </div>
        <div class="boxheader"></div>
        <div class="boxheader"></div>
        <div class="boxheader"></div>
        <div class="boxheader">
            <div style="width: auto;">
                <img src="{{url_for('static', filename='img/user2.ico' )}}" alt="User" style="width:25%;height:auto; float: right;" />
            </div>
            <div style="width: auto; text-align: center; padding-left: 80px;">
                <a href="/perfil/">
                    <h4><b>{{nombres}}</b></h4>
                </a>
            </div>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="navbar">
        {%for opc in data%}
	    <a href="{{ opc.0 }}"><b>{{ opc.1 }}</b></a>                              
        {% endfor %}
        
    </div>

    <!-- The flexible grid -->

    {% block cuerpo %}
    {% endblock %}

    <!-- Footer -->
    <div class="footer">
        <a href="#">© copyright Team8</a>
    </div>

</body>

</html>