{% extends "plantilla.html" %}

{% block title %}

Resumen Asignaturas matriculadas

{% endblock %}

{% block cuerpo %}

    <!-- The flexible grid -->
    <div class="Containermain" style="width: 100%; background-color: white;">
        <div class="aside">
                            
            <div class="event-container">
                <h4 class="mes">Octubre</h4>
                <div class="event">
                    <div class="event-left"><p>Dia</p></div>
                    <div class="event-right">
                        <h5 style="text-transform: uppercase;">Evento</h5>
                        <div>Descripción</div>
                    </div>
                </div>
            </div>
    
            <a href="https://www.mooc.org/es/" target="_blank"><button><b>Massive Open Online Courses</b></button></a>
            <a href="https://www.wdl.org/es/" target="_blank"><button><b>Biblioteca Digital</b></button></a>
            <a href="/logout/"><button><b>Cerrar sesión</b></button></a>
        
                                
            <div class="social-container">
                <a href="https://co.linkedin.com/school/universidad-de-la-salle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="https://twitter.com/unisalle?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" style="margin-right: 5px;"> <i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="https://www.facebook.com/U.deLaSalle/" target="_blank" style="margin-right: 5px;"> <i class="fa fa-facebook-square fa-2x"></i></a>
            </div>
        </div>

        <div class="right">
            <h2 style="color: rgb(17, 84,139); font-size:30px">Materias</h2>

            <br>
            <br>
            <div class=p rueba style="padding-right: 10px; padding-bottom: 5px;">
                <label>Perido académico</label>
                <input type="number" style="width: 80px;" />

            </div>
            <div style="padding-right: 10px; padding-bottom: 5px;">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>MATERIA</th>
                            <th colspan="2">NOTA 1</th>
                            <th colspan="2">NOTA 2</th>
                            <th colspan="2">NOTA 3</th>
                            <th colspan="1">Definitiva</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>

                            <td data-titulo="Nota1"><b>Nota</b></td>
                            <td data-titulo="Nota2"><b>Porcentaje</b></td>
                            <td data-titulo="Nota1"><b>Nota</b></td>
                            <td data-titulo="Nota2"><b>Porcentaje</b></td>
                            <td data-titulo="Nota1"><b>Nota</b></td>
                            <td data-titulo="Nota2"><b>Porcentaje</b></td>

                        </tr>
                        <tr>
                            <td class="materia" data-titulo="Nombre">Calculo</td>
                            <td data-titulo="Nota 1">4.5</td>
                            <td data-titulo="Porcentaje">10 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">20 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">15 %</td>
                            <td class="notaFinal" data-titulo="definitiva">4.2</td>

                        </tr>
                        <tr>
                            <td class="materia" data-titulo="Nombre">Geometría</td>
                            <td data-titulo="Nota 1">4.5</td>
                            <td data-titulo="Porcentaje">10 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">20 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">15 %</td>
                            <td class="notaFinal" data-titulo="definitiva">4.2</td>

                        </tr>
                        <tr>
                            <td class="materia" data-titulo="Nombre">Matemáticas Especiales</td>
                            <td data-titulo="Nota 1">4.5</td>
                            <td data-titulo="Porcentaje">10 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">20 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">15 %</td>
                            <td class="notaFinal" data-titulo="definitiva">4.2</td>

                        </tr>
                        <tr>
                            <td class="materia" data-titulo="Nombre">Circuitos</td>
                            <td data-titulo="Nota 1">4.5</td>
                            <td data-titulo="Porcentaje">10 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">20 %</td>
                            <td data-titulo="Nota 3">4.2</td>
                            <td data-titulo="Nivel">15 %</td>
                            <td class="notaFinal" data-titulo="definitiva">4.2</td>

                        </tr>
                    </tbody>

                    </thead>
                </table>
            </div>
            <div style="padding-right: 10px; padding-bottom: 5px;">

                <div style="display: flex; float: right;">
                    <button>Anterior</button>
                    <button>1</button>
                    <button>Siguiente</button>
                </div>
            </div>

            <div>
                <table class="table2" style="width: 100%;">
                    <thead>
                        <br>
                        <br>
                        <tr>
                            <th colspan="1">MATERIA</th>
                            <th colspan="1">Nota N°</th>
                            <th colspan="4">Comentario</th>
                        </tr>
                        <tbody>
                            <td class="materia" data-titulo="Nombre">
                                <div class=p rueba style="padding-right: 10px; padding-bottom: 5px;">
                                    <label>Materia</label>
                                    <input type="text" style="width: 80px;" />

                                </div>
                            </td>
                            <td data-titulo="Nota 1">
                                <div class=p rueba style="padding-right: 10px; padding-bottom: 5px;">
                                    <label>Nota °N</label>
                                    <input type="number" style="width: 80px;" />

                                </div>
                            </td>
                            <td data-titulo="comentario"> Necesario reforzar los últimos temas</td>
                        </tbody>
                </table>
                <div style="padding-right: 10px; padding-bottom: 5px;">

                    <div style="display: flex; float: right;">
                        <button>Actualizar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
{% endblock %}