article{
    text-decoration: solid;
    text-align: center;
}

body{
    background-color:aqua;
}
.titulos{
    font-size: 150px;
    
}
p{
    background:yellow;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}