nav{
    background:#50CB93;
    padding: 20px;
    margin: 20px 20px;
}
.columna{
    background:#7C83FD;
    color:#FDF6F0;
    padding: 20px;
    margin: 20px 20px;
    width: 25%;
}
.padre{
    display: flex;
}