h1{
    color: red;
}
span{
    color: blue;
}
title{
    color: #0a0a0a;
    font-size: 30px;
}
div{
    color:black;
}
article{
    text-align:center;
}
b{
    font-size: 15px;
}
#title2{
    color:blue;
    font-size:20px;
}
.textp{
    color:rgb(98, 0, 255);
}
/* body{
    background-color: lightblue; 
    background-image: url("img/presence-ii.png");
} */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}